---
Language: Cpp
BasedOnStyle: Google
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
Standard: Cpp11
Cpp11BracedListStyle: true
BreakBeforeTernaryOperators: false
PointerAlignment: Left
FixNamespaceComments: false
IncludeCategories:
  - Regex:           '^"'
    Priority:        3
  - Regex:           '^<'
    Priority:        2
...
